* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
	font-size: 1rem;
}

.wrapper {
	min-height: 100vh;
}


